* {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #7e7fb5,#84bcd8) fixed;
    color: #666666;
}

.userField {
    padding: 22px;
    backdrop-filter: blur(5px);
    background: rgba(62, 79, 133, 0.479);
    border: 4px solid white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    max-width: 720px;
    margin: 20px auto;
}

input, button {
    padding: 12px;
    border: none;
    outline: none;
}

input {
    width: 300px;
    background: linear-gradient(45deg, #7e7fb5,#84bcd8) fixed;
    border-radius: 4px 0 0 4px;

}

button {
    background: rgb(66, 36, 148);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 0px 4px 4px 0px ;

}

.content {
    margin: 4rem auto;
    padding: 4px;
    border: 4px solid white;
    border-radius: 4px;
    max-width: 720px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
    animation: show 300ms forwards;

}

ul {
    list-style: none;
    display: grid;
    background: rgba(180, 180, 180, 0);
    padding: 16px;
    gap: 24px;
    max-width: 720px;
    animation: show 300ms forwards;
}

li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: all 300ms;
}

li h3, li p {
    margin: 4px;
    padding: 8px;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);

}

li h3 {
    flex: 1;
    margin-right: 16px;
}

li p {
    flex: 2;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}