* {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #8663BD,#DFB7F7) fixed;
    color: #666666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



input, button {
    padding: 12px;
    border: none;
    outline: none;
    height: 48px;
}

input {
    width: 300px;
    background-color: #c9afe6;
    border-radius: 4px 0 0 4px;
    flex: 1;
    transition: 300ms;
}

input:hover, input:focus {
    background-color: #c9afe69d;
}

button {
    background: #8663BD;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 0px 4px 4px 0px ;
}

button:hover {
    background: #7649be;
}

.content {
    background: #fff;
    margin: 4rem auto;
    padding: 4px;
    border-radius: 4px;
    max-width: 500px;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.6);
    animation: show 300ms forwards;
    display: flex;
}

ul {
    list-style: none;
}

img {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #7e7fb5;
    box-shadow: 0px 0px 0px 2px  #fff,
                0px 0px 0px 4px  #7e7fb5;
} 

p {
    margin-bottom: 8px;
}

h2 {
    line-height: 1.4rem;
    margin-bottom: 24px;
}

.userField {
    backdrop-filter: blur(5px);
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin: 24px auto;
}

.userField .img {
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

.userField img {
    border: none;
    box-shadow: none;
}

.card {
    background: #fff;
    max-width: 500px;
    margin: 0 auto 24px auto;
    display: flex;
    box-shadow: 4px 4px 22px 0px rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    visibility: hidden;
}

.card.active {
    visibility: visible;    
    animation: show 300ms forwards;
}

.card .user-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 24px;
}

.card .user-data {
    flex: 1;
}

.card .user-data ul {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    gap: 2px;
    margin: 0;
}

.card .user-data ul li {
    height: 150px;
    background: #C9AFE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .user-data ul li span {
    font-weight: bold;
    font-size: 2rem;
}


@media (max-width: 530px) {
    .card {
        flex-direction: column;
    }
    .user-info img {
        margin: 24px auto;
    }
    .card .user-data ul {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: initial;
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}